@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Digital';
    src: url('./digital-7\ \(mono\).ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Digital", monospace;
    font-size: 4rem;
    background-color: #FBFAF8;

}

#display {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 1.5rem;
    border-radius: .3rem;
    display: flex;
    width: 100%;
    height: max(15vh, 10rem);
}

#history {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 40%;
    font-size: 2.5rem;
    border-bottom: 1px solid #b8b8d1;
    margin: 0 1rem;
}

#history-line-operator {
    font-size: 3rem;
    align-items: center;
    display: flex;
    align-items: center;
}

#current-line {
    text-align: right;
    font-size: 5rem;
    flex: 1 1 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1rem;
}

button {
    width: 100%;
    height: 10vh;
    background-color: #ffffff28;
    border: none;
    transition: all 0.2s ease-in;
    border-radius: .3rem;
    font-family: "Rubik";
    font-weight: 500;
    font-size: 2rem;
    color: #B8B8D1;
}

button:hover {

    border: none;
    box-shadow: 0 0 5px #0000007e;
    scale: .95;
}

upper {
    vertical-align: super;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: min(80vw, 35rem);
    padding: 1rem;
    border: 2px solid #000;
    border-radius: .5rem;
    background-color: #252525;
}

#keyboard {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas: "numerical numerical numerical plus minus"
        "numerical numerical numerical multiply devide"
        "numerical numerical numerical square sqrt"
        "point num-0 backspace equals . ";
}

.numerical {
    grid-area: numerical;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
}

#num-0 {
    grid-area: num-0;
}

#point {
    grid-area: point;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: devide;
}

#square {
    grid-area: square;
}

#backspace {
    grid-area: backspace;
}

#equals {
    grid-area: equals;
    background-color: #FF8811;
    color: #000;
}

#clear {
    background-color: #A5243D;
    color: #000;
}